@media (min-width: $tab-large) {
    .navbar{
        &-nav{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
    .pdf {
        &-img {
            width: 940px;
        }
    }
}