@media (min-width: $tab) {
    .navbar {
        &-brand-container {
            padding: 10px 0;
        }
        &-brand {
            margin: 0 auto;
            padding: 10px 5px;
            margin: 10px;
        }
        &-nav {
            margin-left: 25px;
        }
    }
    .nav-link{
        font-weight: 500;
        letter-spacing: 0.01rem;
        margin: 0 5px;
        &:hover{
            font-weight: 600;
            transition: 0.3s;
        }
    }
    .logo {
        width: 200px;
    }
    .main{
        &-logo{
            & img{
                width: 320px;
                padding: 15px 0;
            }
        }
    }
    .search {
        &-form {
            width: 650px;
        }
    }
    .search-results {
        width: 680px;
        padding: 50px;
    }
    .pdf {
        &-img {
            width: 700px;
        }
    }
    .dir{
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}