    .appbox {
        width: 100%;
        height: 100vh;
        background-image: url('./images/bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        &-container {
            padding: 16rem 2rem 0 2rem;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 7rem 7rem 7rem 7rem 7rem;
            grid-template-areas: "app app app";
            grid-gap: 5.4rem 1rem;
            justify-items: center;
            align-items: center;
        }
        &-app {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 6rem;
            height: 6rem;
            text-decoration: none;
            color: rgb(26, 26, 26);
            &-img {
                & img {
                    width: 100%;
                }
            }
            &-desc {
                display: flex;
                justify-content: center;
                width: 8rem;
                height: 4rem;
                &-text {
                    padding: 2px 0;
                    width: inherit;
                    height: inherit;
                    font-size: 1.2rem;
                    color: rgb(26, 26, 26);
                    text-align: center;
                    overflow: hidden;
                }
            }
        }
    }
    
    @media screen and(min-width: $tab) {
        .appbox {
            background-image: url('./images/bg-tab.png');
            &-container {
                padding: 22rem 2rem 0 2rem;
                grid-gap: 8rem 1rem;
            }
            &-app {
                width: 7rem;
                height: 7rem;
                text-decoration: none;
                color: rgb(26, 26, 26);
                &-desc {
                    width: 20rem;
                    height: 5rem;
                    &-text {
                        width: inherit;
                        height: inherit;
                        padding: 1px 0;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    @media screen and(min-width: $tab-large){
        .appbox{
            background-image: url('./images/bg-tablarge.png');
        }
    }