*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html * {
  font-family: "Montserrat", sans-serif;
}

.navbar-brand-container {
  padding: 10px 0;
}
.navbar-brand {
  margin: 0 auto;
  padding: 10px 5px;
  margin: 10px;
}
.navbar-nav {
  margin-left: 25px;
}

.logo {
  width: 200px;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}
.main-logo img {
  width: 270px;
  padding: 15px 0;
}

.search {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 10px 0;
  padding: 0 25px;
}
.search-form {
  border-radius: 7px;
  width: 100%;
}
.search-form input {
  height: 44px;
  border: 1px solid #afafaf;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.results {
  padding: 0;
  padding: 0 25px;
}

.search-results {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #8AB4F8;
  text-decoration: none;
}

.content {
  height: 48px;
  overflow: hidden;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 3px;
  color: #666666;
}

.pdf {
  padding: 50px 0;
  width: 100%;
  height: 100%;
}
.pdf-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.pdf-img {
  width: 300px;
  margin: 0 auto;
}

.dir {
  width: 290px;
  min-width: 290px;
  max-width: 550px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dir-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.dir-header p {
  padding: 5px;
  margin: 0;
  text-align: center;
}
.dir-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dir-footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: none !important;
  min-width: 290px;
  max-width: 450px;
}
.card-header {
  font-size: 16px !important;
  background: #252525 !important;
  color: white !important;
  text-align: center;
  margin: 20px 0;
  padding: 5px;
  border-top: 1px solid rgb(197, 197, 197);
  border-left: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  border-radius: 15px 12px 0 0 !important;
}
.card-body {
  font-size: 16px !important;
  padding: 25px 30px !important;
  border-left: 1px solid rgb(197, 197, 197);
  border-right: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
}
.card-title {
  font-weight: 700;
}

.sp-text {
  font-weight: 600;
}

.dir-search-form {
  margin-top: 15px;
  border-radius: 7px;
  width: 100%;
}
.dir-search-form input {
  height: 44px;
  border: 1px solid #afafaf;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  border-radius: 22px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media (min-width: 374px) {
  .pdf-img {
    width: 405px;
  }

  .dir {
    width: 340px;
  }
}
@media (min-width: 424px) {
  .dir {
    width: 380px;
  }
}
@media (min-width: 767px) {
  .navbar-brand-container {
    padding: 10px 0;
  }
  .navbar-brand {
    margin: 0 auto;
    padding: 10px 5px;
    margin: 10px;
  }
  .navbar-nav {
    margin-left: 25px;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 0.01rem;
    margin: 0 5px;
  }
  .nav-link:hover {
    font-weight: 600;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .logo {
    width: 200px;
  }

  .main-logo img {
    width: 320px;
    padding: 15px 0;
  }

  .search-form {
    width: 650px;
  }

  .search-results {
    width: 680px;
    padding: 50px;
  }

  .pdf-img {
    width: 700px;
  }

  .dir {
    width: 100%;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1023px) {
  .navbar-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .pdf-img {
    width: 940px;
  }
}
@media (min-width: 1279px) {
  .pdf-img {
    width: 1200px;
  }

  .search-results {
    width: 850px;
  }

  .main-logo img {
    width: 400px;
    padding: 15px 0;
  }
}